body {
    margin: 0;
    background: url("https://cdn.pixabay.com/photo/2018/03/10/18/03/laptop-3214756_1280.png");
    background-repeat: repeat;
    box-sizing: border-box;
}
.container {
    height: fit-content;
    width: 100%;
}
.navbar {
    display: flex;
    background: #000000;
    padding: 25px;
    justify-content: space-between;
}
.navbar > a > img {
    width: 85%;
}
.navbar > .links {
    align-self: center;
}
.navbar > .links > a {
    color: #ffffff;
    margin: 8px;
    font-size: 1.2rem;
    text-decoration: 1.5px underline #ff8c00;
}
.navbar > .links > a:hover {
    text-decoration-thickness: 3.5px;
}

.main {
    padding: 20% 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.main > h1 {
    font-weight: bold;
    font-family: 'Arbutus Slab';
    font-size: 135px;
}
.main > p {
    font-family: Sans-Serif;
    font-size: 35px;
    text-transform: uppercase;
}
.main p > i {
    text-transform: lowercase;
}
.main > h3 {
    font-family: 'Alkalami';
    font-size: 80px;
}
.main > button {
    width: fit-content;
    color: #ffffff;
    background: #ff4500;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
}
.footer {
    background: #ffffff;
    padding: 15px;
}
.footer > h1 {
    font-family: 'Arbutus Slab';
}
.footer > h1 > span {
    text-decoration: 4px underline #ff8c00;
}

.links-sidebar, .side-btn-toggle {
    display: none;
}

@media screen and (max-width: 1026px) {
    .container {
        height: fit-content;
        width: 100%;
    }
    .navbar {
        display: flex;
        background: #000000;
        padding: 18px;
        justify-content: space-between;
    }
    .navbar > a > img {
        width: 75%;
    }
    .navbar > .links {
        align-self: center;
    }
    .navbar > .links > a {
        color: #ffffff;
        margin: 4px;
        font-size: 0.77rem;
        text-decoration: 1.5px underline #ff8c00;
    }
    .navbar > .links > a:hover {
        text-decoration-thickness: 3.5px;
    }
    
    .main {
        width: 100%;
        padding: 20% 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .main > h1 {
        width: 100%;
        font-weight: bold;
        font-family: 'Arbutus Slab';
        font-size: 100px;
    }
    .main > p {
        width: 100%;
        font-family: Sans-Serif;
        font-size: 28px;
        text-transform: uppercase;
    }
    .main p > i {
        text-transform: lowercase;
    }
    .main > h3 {
        width: 100%;
        font-family: 'Alkalami';
        font-size: 55px;
    }
    .main > button {
        width: fit-content;
        color: #ffffff;
        background: #ff4500;
        padding: 7px 14px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
    }
    
    .footer {
        background: #ffffff;
        padding: 15px;
    }
    .footer > h1 {
        font-family: 'Arbutus Slab';
        font-size: 14px;
    }
    .footer > h1 > span {
        text-decoration: 4px underline #ff8c00;
    }
}

@media screen and (max-width: 770px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        display: flex;
        background: #000000;
        padding: 14px;
        justify-content: space-between;
        align-items: center;
    }
    .navbar > a {
        width: fit-content;
    }
    .navbar > a > img {
        padding: 0;
        width: 60%;
    }
    .navbar > .links {
        display: none;
    }
    .navbar > .side-btn-toggle {
        width: fit-content;
        height: fit-content;
        display: inline;
        color: #ffffff;
        background: none;
        border: none;
        font-size: 110%;
        cursor: pointer;
    }
    .links-sidebar {
        background: #000000;
        width: 90%;
        justify-content: center;
        align-self: center;
        z-index: 2;
        border-radius: 0 0 16px 16px;
    }
    .links-sidebar > ul > li, a {
        width: 100%;
        list-style: none;
        color: #ffffff;
        margin: 16px 0;
        font-size: 1.2rem;
        text-decoration: 1.5px underline #ff8c00;
    }
    .links-sidebar > ul > li > a:hover {
        text-decoration-thickness: 3.5px;
    }
    
    .main {
        width: 100%;
        padding: 14% 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .main > h1 {
        width: 100%;
        font-weight: bold;
        font-family: 'Arbutus Slab';
        font-size: 70px;
    }
    .main > p {
        width: 100%;
        font-family: Sans-Serif;
        font-size: 18px;
        text-transform: uppercase;
    }
    .main p > i {
        text-transform: lowercase;
    }
    .main > h3 {
        font-family: 'Alkalami';
        font-size: 50px;
    }
    .main > button {
        width: fit-content;
        color: #ffffff;
        background: #ff4500;
        padding: 7px 14px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
    }
}